/* 
  color palettes (for the first time I didn't take them from my head):
  https://vk.com/wall-48872280_2064
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.165;
}

body {
  color: black;
  background-color: white;
  font-family: monospace;
}

.header {
  background-color: #4886ff;
  color: white;
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: larger;
}

.header > p:first-child {
  color: black;
  background-color: white;
}

.container {
  background-color: #eeeeee;
  padding: 10px 15px 10px 15px;
  color: black;
}

.container p:first-child {
  font-weight: bold;
}

.container#info p:first-child {
  font-weight: normal;
}

.container + .container {
  margin-top: 15px;
}

#category + #category {
  margin-top: 25px;
}

#quote {
  margin-top: 10px;
  font-style: italic;
}

a {
  color: rgb(255, 0, 43);
}

#buttons a {
  text-decoration: none;
}

#alert-bracket {
  font-weight: bold;
  color: red;
}

#alert-symbol {
  font-weight: bold;
}

footer {
  margin: 15px;
}

.buttons-test-btn1000-v1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.buttons-test-btn1000-v1 > a {
  background-color: #111318;
  color: white;
  cursor: grab;
  padding: 8px 1em;
  border: 2px solid #111318;
  border-radius: 6px;
  font-size: 90%;
  user-select: none;
  -webkit-user-select: none;
  /* flex: 1 0 calc(25% - 32px); */
  flex: 1;
  text-align: center;
  margin: 5px 0 0 5px;
}

.buttons-test-btn1000-v2 > a {
  flex: 1 0 calc(25% - 32px);
}