.buttons {
  text-decoration: none;
}

.test-containers-test-blocks {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.test-containers-mini-block {
  display: inline-block;
  background-color: #eeeeee;
  color: black;
  padding: 10px 15px 10px 15px;
  width: 200px;
}

.test-btn-old > a {
  margin-top: 5px;
  display: inline-block;
  color: black;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  padding: .6em 2em;
  outline: none;
  border: 2px solid;
  cursor: pointer;
  border-radius: 1px;
  transition: 0.25s;
}

.test-btn1000-v1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.test-btn1000-v1 > a {
  background-color: #111318;
  color: white;
  cursor: grab;
  padding: 8px 1em;
  border: 2px solid #111318;
  border-radius: 6px;
  font-size: 90%;
  user-select: none;
  -webkit-user-select: none;
  /* flex: 1 0 calc(25% - 32px); */
  flex: 1;
  text-align: center;
  margin: 5px 0 0 5px;
}

.test-btn1000-v2 > a {
  flex: 1 0 calc(25% - 32px);
}